<div id="footer">
  <div class="footer-left ">
    <ul class="list-inline">
      <li class="footer-social-text"><h3>RESTONS GRAPPÉS</h3></li>
      <li class="footer-social-dot">
        <a href="https://www.facebook.com/36quaidesaromes/" target="_blank" class="social-dot"><i class="fa fa-facebook"></i></a>
      </li>
      <li class="footer-social-dot">
        <a href="https://twitter.com/36quaidesaromes" target="_blank" class="social-dot"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="footer-social-dot">
        <a href="https://www.instagram.com/36quai_des_aromes/" target="_blank" class="social-dot"><i class="fa fa-instagram"></i></a>
      </li>
    </ul>
  </div>

  <div class="footer-right">
    <div class="footer-warning">
      <h5>2016 - 36 QUAI DES ARÔMES - TOUS DROITS RESERVES</h5>
      <p>L'abus d'alcool est dangereux pour la santé. Sachez consommer avec modération</p>
      <p>Et pas seulement quand on conduit, hein!</p>
    </div>
  </div>
</div>
