<div class="wine-banner">
  <div class="wine-banner-content">
    <div class='wine-punchline-container'>
      <div class="home-punchline punch-bottom">
        <h3>NOUVELLE PIECE A CONVICTION</h3>
      </div>
    </div>
  </div>
</div>

<%= render 'form' %>
